@import "bootstrap.min.css";

p {
  margin: 0;
}

.authorize-block {
  padding: 20px 0px;
  border-radius: 3px;
  background: #e6e4e9;
}

.index-logo {
  background-size: 50%;
  width: 250px;
  display: block;
  margin: 0 auto;
  padding: 20px 0px 10px 0px;
}

.auth-logo img {
  display: block;
  margin: 20px auto;
  width: 200px;
}

.auth-avatar img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.auth-panel {
  margin-top: 12px;
  background: rgba(168, 159, 225, 0.1);
  padding: 5px 17px;
  border-radius: 10px;
}

.auth-statistic p {
  width: 150px;
}

.auth-statistic p:last-child {
  width: 300px;
}

/* Photos block */

#photos {
  background: #f6f5fc;
  padding: 17px 3px;
  border-radius: 5px;
  margin-top: 40px;
}

.photo-wrap {
  padding: 10px 10px;
  background: #837f7f;
  border-radius: 3px;
  margin-bottom: 20px;
}

.photos-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.photo-item {
  max-width: 315px;
  max-height: 250px;
  overflow: hidden;
}

.photo-item img {
  max-width: 125%;
}

.photo-wrap__header {
  display: flex;
}

.author-img img{
  border-radius: 50%;
}

.author {
  margin-left: 15px;
}

.likes {
  margin-top: 10px;
  color: #f5f0f0;
  display: inline-block;
  background: #fff;
  border-radius: 5px;
  padding: 5px;
}

.likes__count {
  color: #000;
}

